<div class="item">
    <a href="/item/{{_id}}">
        <div class="card" style="background-image: url('{{#if picture}}{{fileURL picture}}{{else}}http://www.engraversnetwork.com/files/placeholder.jpg{{/if}}');">
            {{#if isowner}}{{#if wanter}}<span style="background-color: #f44; position: absolute; right: 0.75em; top: 0.75em;" class="badge">!</span>{{/if}}{{/if}}
            <div class="item-caption">
                <h4 class="item-title">{{name}}</h4>
            </div>
            <div class="item-user">
                {{> usericon user=owner}}
            </div>
        </div>
    </a>
</div>
