<main class="container special">
	<div class="row">
		<section class="text-left card col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">	
			<h4 class="center">About <span class="text-primary">commongoods@nushigh</span></h4>
			<p>
			commongoods@nushigh is a <a href="https://en.wikipedia.org/wiki/Fork_(software_development)">fork</a> of commongoods for the staff of NUS High. It runs securely within NUS High.
			</p>
		</section>
	</div>
	<br />
	<div class="row">
		<section class="text-left card col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">	
			<h2>About <span class="text-primary">commongoods</span></h2>
			<p>
			commongoods is an item sharing platform, built on the values of the “kampung spirit” of old in Singapore. It is a non-profit, community-based website that runs on the goodwill of the community. commongoods is where you place the items you do not need and are willing to share with others - all items on commongoods are strictly for free.
			</p>
			<p>
			This project hopes to promote the values of community spirit within Singapore. It is often said that in modernized, busy Singapore, the ideals and values of the old Singapore have been lost. In particular, the sense of belonging to the community has been greatly eroded as many are too focused on their own hectic lives. Hence, commongoods aims to rectify this by promoting one of the core parts of a good community: a healthy sense of sharing and giving back to the society that raised you.
			<p>
			Many individuals report having items that they do not need. commongoods allows you to share your non-essential items from your home, with offering and obtaining an item a handful of clicks away. commongoods helps connect items with those who need it.
			</p>
			<p>
			The ideal end result of all of this is that everyone benefits. Items that would be wasted or tucked away forever in one’s home can now be used by those who actually need them. All those who obtain items from the site are also strongly encouraged to offer up items of their own - so as to continue the cycle of sharing.
			</p>
			We also hope that sharing provides users with the opportunity to meet new people and build friendships. Overall, we hope to promote a more caring mindset in our society, allowing us to build a stronger community.
			</p>
			<p>
			commongoods is designed and developed by a team of four computer science students from NUS High School of Math and Science in Singapore, consisting of Wayne Tee, Ambrose Chua, Daniel Lim and Ashwin Kumar. We are 15-16 years old (as of 2015) and are all passionate programmers.
			</p>
		</section>
	</div>
</main>
