<main class="container special">
    <div class="row">
        <section class="text-left card col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <h2>Frequently Asked Questions</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                What is commongoods?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            commongoods is a platform for users to share items they do not need. Instead of throwing these goods away or kept unused, users can share them with the community. Other members who need such items can then obtain them, for free. See more about the project at the <a href="/about">about page</a>.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
								How do I use commongoods?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
							If you have an item you don't need anymore, you can post it on the platform. 
							If you need an item, you can search for items others have published. After that, you wait for the owner to accept the request. After the owner has accepted, you can arrange the collection time or date. After collecting the item, you can go back to the item and confirm that you received the item. It would then belong to you! 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
								How do I gain reputation?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse">
                        <div class="panel-body">
							By sharing more! The more items you give others, the higher your reputation. You won't gain reputation when you recieve items from others though...
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                What does the name ‘commongoods’ mean?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            The name references how items placed here are shared or “common”, free for the entire community to use and share.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                What does the logo represent?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Our logo is composed of the initials ‘c’ and ‘g’ arranged to form a heart, representing our vision to make our society a more caring one.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                How can I know that I can trust the provider or the receiver?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            commongoods has a reputation system that users can use to decide if an individual can be trusted. Be warned of users with negative reputation. As nothing in commongoods involves money there is little at risk, however.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                I have had a negative experience with a user. How do I report this?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            You can flag the user on his profile page by clicking the red flag button, decreasing his reputation.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                How can I arrange a transaction?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            Once a person indicates his interest in your item via the “Get Item” button, you can then privately message them to arrange for a transfer.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                How can I share an item?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            Click on the icon at the upper-right hand corner. In the dropdown menu, select “New Item”. Here you can list an item with a description as well as an image.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                                How can I obtain an item?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">
                            Use the search system (a search box is located in the menu bar at all times) and type in your query. Any related goods will be listed. Click on one of them to go the item profile, where you can click the “Get Item” button. The owner will receive a notification and can accept your request.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                How can I check if someone wants my item?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body">
                            Click on the icon on the top right hand corner of the screen. Under the drop down menu, select notifications. Any requests will be listed here.
                        </div>
                    </div>
                </div>
            </div>
            <style>
                .panel-heading [data-toggle="collapse"]:after {
                    content: "+"; /* "play" icon */
                    float: right;
                    color: #F58723;
                    font-size: 18px;
                    line-height: 22px;
                    /* rotate "play" icon from > (right arrow) to down arrow */
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: 0.5s transform;
                    -moz-transition: 0.5s transform;
                    -ms-transition: 0.5s transform;
                    -o-transition: 0.5s transform;
                    transition: 0.5s transform;
                }

                .panel-heading [data-toggle="collapse"].collapsed:after {
                    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    color: #454444;
                }
                .panel-body {
                    margin-bottom: 2em;
                }
            </style>
        </section>
    </div>
</main>
